.slider__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	animation: show 1s ease-in-out;
	transition: all 1s ease;
}

.slider {
	position: relative;
	display: flex;
	width: 80%;
	max-width: 1200px;
	max-height: 400px;
	margin: 3rem auto 5rem;
	overflow: hidden;
}

.slider_hidden {
	animation: hide 1s linear forwards;
}

.slider button {
	background-color: transparent;
	position: absolute;
	height: 100%;
	width: 10%;
	display: flex;
	z-index: 10;
	top: 0;
	outline: none;
	border: none;
	transition: all 0.5s ease;
	padding: 1em;
}

.slider button:hover {
	cursor: pointer;
	background-color: rgba(219, 223, 234, 0.5);
}

.slider button:active {
	background-color: rgba(219, 223, 234, 1);
}

.slider__buttonLeft {
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transform: rotate(180deg);
	/* WTF?!?! */
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.slider__buttonRight {
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.slider__line {
	display: flex;
	transition: all 1s ease;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.slider__line img {
	height: auto;
}

@keyframes hide {
	0% {
		max-height: 40vh;
		opacity: 1;
	}
	100% {
		max-height: 0;
		opacity: 0;
	}
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
